
<mat-card class="example-card">
    <mat-card-content>  



<a  *ngIf="!(authService.user | async)"  routerLink = "/login">Login</a>-

<a  routerLink = "/welcome">Welcome</a>-


<button *ngIf="authService.user | async" (click) = "toLogout()"> 
 logout
</button>-

<button (click) = "toSignup()">
  signup
</button>


</mat-card-content>
</mat-card>

